html {
  font-family: 'Times New Roman', Times, serif;
  font-size: 62.5%;
}

p, ul, ol, dl {
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin-bottom: 12px;
}

article {
  max-width: 620px;
  margin: auto;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 5rem;
  line-height: 5.2rem;
  margin: 20px 0;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  line-height: 3.2rem;
  margin: 16px 0;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  margin: 25px 0 8px 0;
}

h4 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.7rem;
  margin: 25px 0 8px 0;
}

.byline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

figcaption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-align: right;
  margin-bottom: 20px;
}

span {
  font-style: italic;
}

blockquote p {
  border-left: 4px solid grey;
  line-height: 1.8rem;
  margin-bottom: 12px;
}

blockquote {
  padding: 20px;
  margin-left: 30px;
}

ol {
  list-style-position: inside;
}

div {
  background-color: #ccc;
}

div p {
  padding: 20px;
}

#comments {
  max-width: 620px;
  margin: auto;
}
